<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.myapp.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.it.myapp.entity.Student">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="Name" jdbcType="VARCHAR" property="Name" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="classId" jdbcType="INTEGER" property="classId" />
    </resultMap>

    <select id="findAll" resultType="com.it.myapp.entity.Student">
        select * from Student
    </select>

    <select id="queryStudentById" resultType="com.it.myapp.entity.Student">
        select * from Student where id = #{id}
    </select>

    <delete id="deleteOneUser" parameterType="int">
        delete from Student where id=#{id}
    </delete>


</mapper>
